# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: frontend_CICD

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Debug Workspace Contents
      run: ls -R  

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: package-lock.json

    - name: Install dependencies
      run: npm ci

    - name: Build frontend
      run: npm run build --if-present

    - name: SonarQube frontend Scan  # SonarQube scan step
      uses: sonarsource/sonarqube-scan-action@master
      with:
        args: >
          -Dproject.settings=sonar-project.properties
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }} 

    - name: Check Quality Gate  # Add this step
      uses: sonarsource/sonarqube-quality-gate-action@master
      if: always() # Always run to check even if the previous step failed
      timeout-minutes: 5
      with:
        scanTaskId: ${{ steps.sonarqube.outputs.scanTaskId }}
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }} 

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1 # Replace <your-region> with your AWS region

    # Post the package to S3 bucket
    - name: Upload to S3
      run: aws s3 sync . s3://${{ secrets.AWS_S3_BUCKET }} --delete
      
    - name: Deploying to Ec2 
      run: aws deploy create-deployment --application-name webapp --deployment-group-name CodeDeployWebapp --github-location repository=${{ github.repository }},commitId=${{ github.sha }} --ignore-application-stop-failures
